body {
  padding-top: 50px;
  padding-bottom: 20px;
/*  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;*/
/*  letter-spacing: -0.02em;*/ 
  font-weight: 300;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
/*  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
*/}
h4 {
/*  font-weight: 600;*/
}
.navbar > .container .navbar-brand {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../images/logo-v3-gray-35h.png') no-repeat;
  width: 125px;
  height: 35px;
  margin-left: 6px;
  margin-top: 8px;
  margin-right: 15px;
}
a.navbar-brand:hover {
  opacity: 0.7;
}
.container.content {
  margin-top: 40px;
}
.content article:first-of-type h2 {
  margin-top: 0px;
}
.jumbotron {
  background: url('../images/header-bg.jpg') no-repeat scroll top left #011925;
/*  background-color: #36426B;*/
  margin-bottom: 0;
  color: #eee;
}
.jumbotron h1 {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}
.jumbotron h1 small {
  font-size: inherit;
  font-weight: 200;
  color: #ddd;
  display: block;
}
small.super {
  vertical-align: super;
}
.jumbotron .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.jumbotron p.lead {
  font-size: 26px;
}
.vodlogos {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../images/vod-logos.png') no-repeat;
  height: 40px;
  width: 100px;
  display: inline-block;
  opacity: 0.7;
}
#itunes.vodlogos   { background-position: 0px 0px; width: 90px; }
#hulu.vodlogos     { background-position: 0px -40px; width: 60px; }
#amazon.vodlogos   { background-position: 0px -80px; width: 114px; }
#netflix.vodlogos { background-position: 0px -120px; width: 70px; }
#viewster.vodlogos { background-position: 0px -160px; width: 100px; }
#huluplus.vodlogos { background-position: 0px -200px; width: 120px; }
#google.vodlogos { background-position: 0px -240px; width: 130px; }
#indiereign.vodlogos { background-position: 0px -280px; width: 80px; }
#snagfilms.vodlogos { background-position: 0px -320px; width: 110px; }
#fandor.vodlogos { background-position: 0px -360px; width: 130px; }
#lovefilm.vodlogos { background-position: 0px -400px; width: 80px; }
#redbox.vodlogos { background-position: 0px -440px; width: 90px; }
#mgo.vodlogos { background-position: 0px -480px; width: 40px; }
#roku.vodlogos { background-position: 0px -520px; width: 70px; }
#kinopto.vodlogos { background-position: 0px -560px; width: 100px; }
#vudu.vodlogos { background-position: 0px -600px; width: 60px; }
#canalplay.vodlogos { background-position: 0px -640px; width: 100px; }
#viaway.vodlogos { background-position: 0px -680px; width: 70px; }
#indieflix.vodlogos { background-position: 0px -720px; width: 100px; }
#cineclick.vodlogos { background-position: 0px -760px; width: 50px; }

h2 img {
  margin-right: 10px;
}
section {
  padding-top: 30px;
  padding-bottom: 40px;
}
section:nth-of-type(3n+1) {
  background-color: #eee;   
}
section:nth-of-type(3n) {
  background-color: #4C5679; /* #4C5679; #36426B */
  color: #fff;
}
.btn ~ p {
  margin-top: 20px;
}
.details > * {
  margin-top: 0;
}
section:last-of-type {
  min-height: 100vh;
}
.pricing img {
  margin: 40px auto;
}
.nav.nav-stacked.sidenav li>a {
  padding-top: 4px;
  padding-bottom: 4px;
}
.meta small {
  color: #999;
}
  
.circle {
  display: block;
  font-size: 19px;
  line-height: 35px;
  width: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  -khtml-border-radius: 35px;
  border-radius: 35px;
  text-align: center;
  margin: 15px 10px 15px 0;
  font-weight: 600;
  background: #011925;
  color: #fff;
  margin-top: 0px;
  float: left;
}

.howitworks img {
  margin-bottom: 20px;
}

section h1 {
  margin-bottom: 40px;
}

a.anchor {
  display: block;
  position: relative;
  top: -51px;
  visibility: hidden;
}
@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 75px;
    letter-spacing: -3px;
  }
  .lead {
    font-size: 18px;
  }
}
