body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Titillium Web', sans-serif;
}
h4 {
  font-weight: 600;
}
.nav {
  font-size: 12px;
}
.navbar > .container .navbar-brand {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../images/KN-Logo-v3-gray-35h.png') no-repeat;
  width: 125px;
  height: 35px;
  margin-left: 6px;
  margin-top: 8px;
  margin-right: 15px;
}
a.navbar-brand:hover {
  opacity: 0.7;
}
.jumbotron {
  margin-bottom: 0;
}
.jumbotron h1 {
  letter-spacing: -0.03em;
}
.jumbotron .btn {
  margin-top: 20px;
}
section {
  padding-top: 30px;
  padding-bottom: 40px;
}
section:nth-child(even) {
  background-color: #eee;   
}
section:nth-child(3n) {
  background-color: #563d7c;
  color: #fff;
}
section h1 {
  margin-bottom: 40px;
}
.btn ~ p {
  margin-top: 20px;
}
.details > * {
  margin-top: 0;
}
section:last-of-type {
/*section {*/
  min-height: 100vh;
}