---
---
// Backgrounds
$bg-navy: #001f3f;
$bg-blue: #0074d9;
$bg-aqua: #7fdbff;
$bg-teal: #39cccc;
$bg-olive: #3d9970;
$bg-green: #2ecc40;
$bg-lime: #01ff70;
$bg-yellow: #ffdc00;
$bg-orange: #ff851b;
$bg-red: #ff4136;
$bg-fuchsia: #f012be;
$bg-purple: #b10dc9;
$bg-maroon: #85144b;
$bg-white: #fff;
$bg-gray: #aaa;
$bg-silver: #ddd;
$bg-black: #111;

// colors
$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ddd;
// $gray: #aaa;
$black: #111;

$filmhub-blue: #1a237e;
$filmhub-gray: #525254;
$filmhub-white: #f8f8f8;

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800');
$font-family-sans-serif: 'Nunito Sans', helvetica, arial, sans-serif;
@import 'bootstrap';
@import 'help';
@import 'kinonation-font';

body {
  background-color: $filmhub-white;
  color: $navy;
  font-size: 16px;
  line-height: 1.5em;
  padding-bottom: 0;
}

.body {
  background-color: $white;
  min-height: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
}

.navbar {
  background-color: $white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;

  li {
    color: $filmhub-blue;
  }
}

.navbar-default {
  background: transparent;
  background-color: transparent;
  border-color: transparent;

  .navbar-nav > li > a {
    color: $filmhub-gray;
    &:hover {
      opacity: 0.7;
    }
    &.btn.btn-default.btn-s.hidden-xs {
      background-color: transparent;
      border-width: 0px;
      font-weight: 900;
      color: #1A237E;
      margin: 6px 0;
      padding: 9px;
      &:hover {
        background: #2230ab;
        color: #ffffff;
        opacity: 1.0;
      }
    }
  }
  .navbar-brand {
    color: #1A237E;
    height: 60px;
    padding-top: 11px;
  }
}

a.navbar-brand:hover {
  color: #1A237E !important;
  opacity: 0.7;
}

.container.content {
  margin-top: 40px;
}
.container.content + footer {
  margin-top: 40px;
}
.content article:first-of-type h2,
.firstrow h3:first-of-type,
.container.content h1:first-of-type,
.content article:first-of-type h2,
.tag-nav:first-of-type h2 {
  margin-top: 0;
}

a {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.jumbotron {
  // background-color: #348eda;
  color: $filmhub-blue;
  a.textlink {
    color: $filmhub-blue;
    border-bottom: $filmhub-blue 2px dotted;
    padding-bottom: 4px;
    &:hover {
      border-bottom: $filmhub-blue 2px solid;
      text-decoration: none;
    }
  }
  ul {
    @extend p;
  }
}

.jumbo-home {
  background: #fff url('../images/globe-redo_v2.png') no-repeat top center;
  margin-bottom: 0;
  .jumbotron {
    background-color: transparent;
    a.btn.btn-default {
      background-color: #1A237E; // #FF6F00
      color: white;
      border-width: 0;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 900;
      &:hover {
        color: white;
        background-color: #2230ab; // #FF8A3E
      }
    }
  }
}

h1 small {
  display: block;
}

.page-home .jumbotron a.btn-default, .page-amazon .jumbotron a.btn-default, .page-vimeo .jumbotron a.btn-default, .page-hoopla .jumbotron a.btn-default, .page-SnagFilms .jumbotron a.btn-default{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 26px;
  font-weight: 200;
  background: inherit;
  transition: background .5s, color .5s, border .5s;
  color: #fff;
  &:hover {
    color: #348eda;
    background-color: #fff;
    border-color: #348eda;
  }
}
.page-home .jumbotron p.lead, .enterprise p.lead, .page-amazon .jumbotron p.lead, .page-vimeo .jumbotron p.lead, .page-hoopla .jumbotron p.lead {
  font-size: 26px;
}
section {
  padding-top: 40px;
  padding-bottom: 40px;
  h1 {
    text-transform: uppercase;
    letter-spacing: .1em;
    &.subheader {
      margin-bottom: 0;
    }
  }
  h2.subheader {
    margin-bottom: 30px;
  }
}
section:nth-of-type(3n) {
  background-color: $bg-silver;
  color: $black;
  a {
    color: $filmhub-blue;
  }
}
section:nth-of-type(3n+2) {
  background-color: $bg-navy; /* #e67d25 #4C5679; #36426B */
  color: $silver;
  a {
    color: $silver;
  }
  h1.small {
    color: $maroon;
  }
}
section:last-of-type {
}

section.features h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
section.features {
  position: relative;
  overflow: hidden;
}
small.super {
  vertical-align: super;
}

#vodlogos {
  display: inline-block;
}

#vodlogos span {
  transition: 1s;
  color: rgb(82, 82, 84);
  font: 0/0 a;
  font-size: 1.4em;
  line-height: 200%;
  margin: 15px;
  vertical-align: middle;
}

section.different div.different {
  margin-bottom: 60px;
}

@media(max-width:767px) {
  #vodlogos span {
    transition: 1s;
    line-height: 170%;
  }
}

h2 img {
  margin-right: 10px;
}
div#terms-intro {
  background-color: #eee;
}
.details > * {
  margin-top: 0;
}
.pricing img {
  margin: 40px auto;
}
.nav-stacked li.nav-article>a {
  font-size: 14px;
  padding: 2px 10px 2px 30px;
}
.nav-stacked li.nav-header>a {
  font-size: inherit;
  padding-left: 10px;
}
.meta {
  margin-bottom: 30px;
}
.meta small {
  color: #999;
}
.steps {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  width: 50px;
  background: #1A237E;
  color: #fff;
}
.howitworks img, .enterprise img {
  margin-bottom: 20px;
}
a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

#globe {
  position: absolute;
  top: -10px;
}
footer {
  color: #888;
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e7e7e7;
  min-height: 60px;
  text-align: center;
}
footer a {
  color: #777;
}
footer a:hover {
  color: #333;
}
footer ul>li a:hover i {
/*  opacity: 0.7;*/
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul>li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
footer ul>li:first-child {
  padding-left: 0;
}
footer ul>li:last-child {
  padding-right: 0;
}
/* This gets Google to fall into place */
.social {
	font-size: 1px;
  padding: 0;
  line-height: 40px;
}

/* This gets Facebook to fall into place */
.social iframe {
	vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social span {
	display: inline-block;
	width: 180px;
}
.social .twitter {
  width: 110px;
}
.social .twitter-follow {
  width: 150px;
}
.social .facebook {
  width: 90px;
}
/* Adjust the widths individually if you like */
.social .google {
	width: 75px;
}
.well h3 {
  margin-top: 0;
}
@media (min-width: $screen-sm-min) {
  .navbar > .container .navbar-brand {
    margin-left: 0;
    margin-top: 13px;
  }
  .jumbotron {
    h1, .h1 {
      text-transform: uppercase;
      font-size: 52px;
    }
    .container-fluid.text-center p {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  section h1 {
    font-size: 3em;
  }
  .page-home .lead {
    font-size: 18px;
  }
}

a[data-toggle="tooltip"] {
  color: inherit;
  border-bottom: 1px dashed #000;
  text-decoration: none;
}
.tag {
  text-transform: capitalize;
  font-weight: 400;
  padding: .4em .6em .3em;
}
.tag span {
  vertical-align: super;
  font-size: 1rem;
}
#tag-box {
  line-height: 2;
}
body.page-tags p.singletag {
  margin: 20px 0 10px;
}
body.page-tags ul.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.alert>ul {
  margin-bottom: inherit;
}
ol ol {
  margin-bottom: 10px; /* undo Bootstrap */
}
li ol {
/*   margin-bottom: 0px; /* instead, I think that's what they meant */
}
body.page-terms .container.section {
  padding-bottom: 20px;
}
.jumbotron .container, section .container {
  padding-bottom: 0px;
}

#teampics {
  margin-top: 30px;
}

.page-faq-index li > p:first-child {
  font-weight: bold;
}
.first-row {
  margin-top: 0;
}
.poster {
  float: left;
  width: 10%;
}
.row.posters {
   margin-top: 0px;
   margin-bottom: 40px;
}
#fromeverywhere {
  margin-top: 40px;
}

/* Streaming service landing pages */

.page-amazon {
  .jumbo-home {
    background-color: #000000; /*   #406E74 #596451; */
    background: url('/images/bkg.gif');
  }
  h1 {
    color: #ff9900;
    font-weight: bold;
    line-height: 1.2;
  }
  #aivlogo {
    margin-top: 24px;
  }
}

.page-vimeo {
  .jumbo-home {
    background: #000000 url('/images/bkg2.gif');
    h1 {
      color: #1ab7ea;
      font-weight: bold;
    }
  }
  #vimeologo { margin-top: 24px; }
}

.page-hoopla {
  .jumbo-home {
  	background: $filmhub-white;
  	// background-color: rgba(18, 18, 18, 0.90);
   }
   // h1 {
   //  color: #1ab7ea;
   //  font-weight: bold;
   // }
}

table {
  @extend .table;
}


// MailChimp form style overrides
// @import url('//cdn-images.mailchimp.com/embedcode/classic-10_7.css');

#mc-embedded-subscribe-form {
  margin-bottom: 20px;
}

#mc_embed_signup {
  input.mce_inline_error {
    border-color: $brand-danger;
  }
  div.mce_inline_error {
    @extend .label;
    @extend .label-danger;
    margin-left: 1em;
  }
  background: transparent;
}

