/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
#masthead  {
  text-align: center;
  background-color: transparent;
}
#masthead  .btn {
  font-size: 21px;
  padding: 14px 24px;
}