---
layout: bootstrap
title: Indie film digital distribution platform
id: home
eyebrow: false
---
<section id="summary" class="py-5">
  <div class="container">
    <h1 class="text-center display-1">Film distribution 2.0</h1>
    <p class="lead text-center pb-4 text-muted">
      Pay $0. Keep your rights. Transparent reporting.
    </p>
    <div class="text-center">
      <h1 class="mb-1"><a href="https://app.filmhub.com/signup" class="btn btn-lg btn-primary px-5">Sign up</a></h1>
      <p class="my-0 py-t small text-muted">Yup, it's free</p>
    </div>
  </div>
</section>

<section id="featured" class="py-5 bg-silver">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <span class="badge badge-info">Featured topic</span>
        <h4 class="display-4 text-info">Immigrant stories</h4>
      </div>
      <div class="col-md-9">
        <img src="/images/migrant_crossing_2x3.jpg" class="p-0 m-0 shadow rounded" style="width: 160px;" alt="poster">
        <img src="/images/against_the_tide_3x4.jpg" class="p-0 m-0 shadow rounded" style="width: 160px;"  alt="poster">
        <img src="/images/reunification_3x4.jpg" class="p-0 m-0 shadow rounded" style="width: 160px;" alt="poster">
        <img src="/images/lessons_of_basketball_and_war_3x4.jpg" class="p-0 m-0 shadow rounded" style="width: 160px;" alt="poster">
        <img src="/images/bridge_brothers_3x4.jpg" class="p-0 m-0 shadow rounded" style="width: 160px;" alt="poster">
      </div>
    </div>
  </div>
</section>


<section id="segments" class="py-5 segments bg-gradient-filmhub text-light">
  <div class="container">
    <h2 class="display-4 text-center2">Let's disrupt Hollywood's rusty sales structures</h2>
    <div class="row text-center">
      <div class="col-md-8 offset-md-2">
        <p class="lead">
          Filmhub allows filmmakers to upload your film for free, while streaming channels discover, order, and stream your work - worldwide.
        </p>
        <p class="lead">Once revenue starts flowing, 80% goes to you. That's it. Plain &amp; simple.</p>
      </div>
    </div>
  </div>
</section>

<section id="channels" class="channels py-0">
  <div class="container" style="z-index: 0 !important;">
    <div class="row">
      <div class="col-md-4 pt-5">
        <h1 class="display-4">Go where audiences are</h1>
        <hr>
        <p>Reach engaged buyers worldwide on dozens of streaming platforms. Release wide. Get new audiences. Reduce dependency risks on few majors.</p>
        <!-- <a class="btn btn-outline-warning" href="/channels" role="button">Learn more</a> -->
      </div>

      <div class="col-md-8">
        <div class="logos-container">
          <div class="logos-scrolling">
            {% assign channels = site.data.channels | where: "logo", "ok" %}
            {% for channel in channels %}
              <div class="logo">
                {% include svg/{{ channel.name | slugify }}.svg %}
              </div>
            {% endfor %}
          </div>
        </divs>
      </div>
    </div>
</section>

<section id="different" class="py-5 different bg-gradient-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center different">
        <p>
          <span class="fa-stack fa-3x text-dark">
            <i class="fas fa-ban fa-stack-2x transparent-50"></i>
            <i class="fas fa-dollar-sign fa-stack-1x"></i>
         </span>
       </p>
        <p><b>No upfront fee.</b> Free listing, asset processing and delivery.</p>
      </div>

      <div class="col-md-4 text-center different">
        <p>
          <span class="fa-stack fa-3x text-dark">
            <i class="fas fa-ban fa-stack-2x transparent-50"></i>
            <i class="fas fa-hand-paper fa-stack-1x"></i>
         </span>
       </p>
      <p><b>No gatekeeper.</b> Access for all filmmakers. No "approval" - just upload.</p>
      </div>

      <div class="col-md-4 text-center different">
        <p>
           <span class="fa-stack fa-3x text-dark">
             <i class="fas fa-ban fa-stack-2x transparent-50"></i>
             <i class="fas fa-link fa-stack-1x"></i>
          </span>
        </p>

        <p><b>Keep your rights.</b> Non-exclusive, cancel anytime.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-cloud fa-5x text-dark"></i></p>
        <p><b>Technology.</b> A modern B2B tech marketplace takes the entire film distribution online.</p>
      </div>
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-star fa-5x text-dark"></i></p>
        <p><b>Discovery.</b> Predictive analytics help what to promote and when.</p>
      </div>
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-globe fa-5x text-dark"></i></p>
        <p><b>Scale and reach.</b> Cloud handles a global partner network and a massive catalog.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-chart-bar fa-5x text-dark"></i></p>
        <p><b>Get paid, and fast.</b> Transparent reporting, auditing, consolidated payments.</p>
      </div>
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-check-square fa-5x text-dark"></i></p>
        <p><b>Fanatical quality.</b> Rigorous QC, consistent delivery. Tech makes streaming services love us.</p>
      </div>
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-magic fa-5x text-dark"></i></p>
        <p><b>Beyond film.</b> TV, docs, digital first, family&hellip; Any format, genre, language. </p>
      </div>
    </div>
  </div>
</section>

<section id="pricing" class="py-5 pricing text-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-1 vertical-center">
        <div>

        <h1 class="display-4 pb-2">Creator-first pricing</h1>
        <p class="lead pb-3">Pay $0. We make money via simple revenue share: 20%. No deductions or recurring fees.</p>
        <p>
          <a href="https://app.filmhub.com/owner/signup" class="btn btn-lg btn-outline-primary">Get started</a>
        </p>
        <p class="lead">
          <small>More info about our <a href="#enterprise" class="animate">enterprise accounts</a>.</small>
        </p>
        </div>
      </div>
      <div class="col-md-5">
        <img class="lazyload img-fluid s-75 my-3 pl-3" data-src="/images/pricing_chart.svg" alt="Pricing">
      </div>
    </div>
  </div>
</section>

<section id="enterprise" class="py-5 enterprise bg-gradient-filmhub-reverse text-light">
  <div class="container">
    <div class="row">

      <div class="col-md-8 pl-md-4 order-1 order-md-2">
        <div>
          <h1 class="display-4">Filmhub Enterprise</h1>
          <p class="lead pb-3">Sales agents, distributors, indie studios: use our cloud service to release your content in streaming services worldwide.</p>
          <p>
            Monetize all dormant assets. Fill your distribution gaps. Carve out territories already sold. Deliver to your own channels and ours.
          </p>
          <p>
            Our cloud technology does all the complicated technical work.
            Consolidated tracking, collection, accounting, short lead times all included. We are scalable to infinite catalog sizes.
          </p>
          <p>
            Choose from no conversion cost, or a low one-time fee.
          </p>
          <p class="pt-4">
            <a href="https://intercom.help/filmhub" class="btn btn-outline-warning contact-us mr-3">Contact sales</a> or <a href="tel:+1-424-209-8578" title="Call us: +1-424-209-8578" class="linkhint">call us</a></li>
          </p>
        </div>
      </div>

      <div class="col-md-4 vertical-center order-2 order-md-1">
        <div class="">
          <figure class="figure text-center pt-5 pt-md-0">
            <img data-src="/images/screen-territories.png" class="lazyload figure-img img-fluid rounded shadow-lg w-75" alt="Carve out territories and streaming services">
            <figcaption class="figure-caption text-white-50">Carve out territories with fine grained control.</figcaption>
          </figure>
          <figure class="figure text-center d-none d-md-block pt-4">
            <img data-src="/images/screen-releases.png" class="lazyload figure-img img-fluid rounded shadow-lg w-75" alt="Set release dates for different business models">
            <figcaption class="figure-caption text-white-50">Set release dates for different business models.</figcaption>
          </figure>
        </div>
      </div>


    </div>
  </div>
</section>

