---
layout: bootstrap
title: Indie film digital distribution platform
id: home
eyebrow: false
custom_js:
  - sendgrid-signup
---
<section id="summary" class="my-4 my-md-5 py-5 bg-light">
  <div class="container">
    <h1 class="text-center display-2">Film distribution 2.0</h1>
    <p class="lead text-center pb-4">
      Pay $0. Keep your rights. Transparent reporting.
    </p>
    <div class="text-center">
      <p class="mb-1">
        <a href="https://app.filmhub.com/signup" class="btn btn-lg btn-info px-5">Get started</a>
      </p>
    </div>
  </div>
</section>

<section id="featured" class="my-4 py-5 bg-white2">
  <div class="container">
    <h2 class="display-4 text-center">Amazing content</h2>
    <p class="lead text-center">Join great filmmakers and 1000s of strong, fresh films &amp; shows made for an audience. </p>
    <div id="topics-carousel" class="carousel slide" data-ride="carousel" data-interval=8000>
      <div class="carousel-inner">
        {% for topic in site.data.topics %}
        <div class="carousel-item {% if forloop.first == true %}active{% endif %}">
            <div class="row poster-container">
            {% for title in topic.titles %}
              <div class="col col-md" style="max-height: 180px">
                <img
                  src="/images/{{ title.image }}"
                  srcset="/images/{{ title.image | replace_first: '.', '@2x.' }}"
                  class="img-fluid poster shadow rounded"
                  alt="{{ title.name }}"
                  title="{{ title.name }}">
                <div class="topic badge badge-info">{{ topic.name }}</div>
              </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
      </div>
      <ol class="carousel-indicators">
      {% for topic in site.data.topics %}
        <li data-target="#topics-carousel" data-slide-to="{{ forloop.index }}" class="{% if forloop.first == true %}active{% endif %}"></li>
      {% endfor %}
      </ol>
      <a class="carousel-control-prev" href="#topics-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#topics-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> {% comment %} *** CAROUSEL *** {% endcomment %}
  </div>
</section>


<section id="whatisfilmhub" class="py-5 segments bg-info text-white">
  <div class="container text-center">
    <h2 class="display-4">How it works</h2>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <p class="lead">
          Filmhub allows filmmakers to upload your film for free, while streaming channels discover, order, and stream your work - worldwide.
        </p>
        <p class="lead">Once revenue starts flowing, 80% goes to you. That's it. Plain &amp; simple.</p>
      </div>
    </div>
  </div>
</section>

<section id="channels" class="channels py-0">
  <div class="container" style="z-index: 0 !important;">
    <div class="row">

      <div class="col-md-4 pt-5 order-md-2">
        <h1 class="display-4 text-info">Get on many channels</h1>
        <hr>
        <p>Reach engaged buyers of streaming platforms worldwide. Release wide to new audiences. Reduce dependency risks on few majors.</p>
      </div>

      <div class="col-md-8 order-md-1">
        <div class="logos-container">
          <div class="logos-scrolling">
            {% assign channels = site.data.channels | where: "logo", "ok" %}
            {% for channel in channels %}
              <div class="col-4 col-md-3 col-xl-2 my-md-1 text-center">
                <div class="logo">
                  {% include svg/{{ channel.name | slugify }}.svg %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</section>

<section id="different" class="py-5 different bg-gradient-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center different">
        <p>
          <span class="fa-stack fa-3x text-dark">
            <i class="fas fa-ban fa-stack-2x transparent-50"></i>
            <i class="fas fa-dollar-sign fa-stack-1x"></i>
         </span>
       </p>
        <p><b>No upfront fee.</b> Free listing, asset processing and delivery.</p>
      </div>

      <div class="col-md-4 text-center different">
        <p>
          <span class="fa-stack fa-3x text-dark">
            <i class="fas fa-ban fa-stack-2x transparent-50"></i>
            <i class="fas fa-hand-paper fa-stack-1x"></i>
         </span>
       </p>
      <p><b>No gatekeeper.</b> Access for all filmmakers. No "approval" - just upload.</p>
      </div>

      <div class="col-md-4 text-center different">
        <p>
           <span class="fa-stack fa-3x text-dark">
             <i class="fas fa-ban fa-stack-2x transparent-50"></i>
             <i class="fas fa-link fa-stack-1x"></i>
          </span>
        </p>

        <p><b>Keep your rights.</b> Non-exclusive, cancel anytime.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-cloud fa-5x text-dark"></i></p>
        <p><b>Technology.</b> A modern B2B tech marketplace takes the entire film distribution online.</p>
      </div>
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-star fa-5x text-dark"></i></p>
        <p><b>Discovery.</b> Predictive analytics help what to promote and when.</p>
      </div>
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-globe fa-5x text-dark"></i></p>
        <p><b>Scale and reach.</b> Cloud handles a global partner network and a massive catalog.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-chart-bar fa-5x text-dark"></i></p>
        <p><b>Get paid, and fast.</b> Transparent reporting, auditing, consolidated payments.</p>
      </div>
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-check-square fa-5x text-dark"></i></p>
        <p><b>Fanatical quality.</b> Rigorous QC, consistent delivery. Tech makes streaming services love us.</p>
      </div>
      <div class="col-md-4 text-center different">
        <p><i class="fas fa-magic fa-5x text-dark"></i></p>
        <p><b>Beyond film.</b> TV, docs, digital first, family&hellip; Any format, genre, language. </p>
      </div>
    </div>
  </div>
</section>

<section id="pricing" class="py-5 pricing text-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-1 vertical-center">
        <div>

        <h1 class="display-4 pb-2">Creator-first pricing</h1>
        <p class="lead pb-3">Pay $0. We make money via simple revenue share: 20%. No deductions or recurring fees.</p>
        <p>
          <a href="https://app.filmhub.com/owner/signup" class="btn btn-lg btn-outline-info">Get started</a>
        </p>
        <p class="lead">
          <small>More info about our <a href="#enterprise" class="animate text-info">enterprise accounts</a>.</small>
        </p>
        </div>
      </div>
      <div class="col-md-5">
        <img class="lazyload img-fluid s-75 my-3 pl-3" data-src="/images/pricing_chart.svg" alt="Pricing">
      </div>
    </div>
  </div>
</section>

<section id="email" class="email py-5 bg-silver text-dark">
  <div class="container">
    <h4 class="display-4 text-info">Sounds interesting but not sure yet?</h4>
    <p class="lead">Follow us and get our occasional newsletter with digital distribution tips and updates on our development.</p>

    <form class="form-inline" id="sendgrid-signup-form">
        <div class="form-check form-check-inline">
          <label class="form-check-label mr-2" for="type-filmmaker">I'm a&nbsp;</label>
          <input class="form-check-input" type="radio" name="type" id="type-filmmaker" value="filmmaker" required>
          <label class="form-check-label" for="type-filmmaker">filmmaker/producer</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="type" id="type-catalog" value="catalog" required>
          <label class="form-check-label" for="type-catalog">catalog owner</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="type" id="type-buyer" value="buyer" required>
          <label class="form-check-label" for="type-buyer">buyer/programmer</label>
        </div>
        <input class="form-control email required mr-sm-2" type="email" size=30 value="" name="email" id="sendgrid-signup-email" placeholder="Email" required>
        <button id="sendgrid-signup-submit" type="submit" class="btn btn-info">Subscribe</button>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="honeypot" tabindex="-1" value=""></div>
    </form>
  </div>
</section>


<section id="enterprise" class="enterprise py-5 bg-gradient-dark text-light">
  <div class="container">
    <div class="row">

      <div class="col-md-8 pl-md-4 order-1 order-md-2">
        <div>
          <h1 class="display-4">Filmhub Enterprise</h1>
          <p class="lead pb-3">Sales agents, distributors, indie studios: use our cloud service to release your content in streaming services worldwide.</p>
          <p>
            Monetize all dormant assets. Fill your distribution gaps. Carve out territories already sold. Deliver to your own channels and ours.
          </p>
          <p>
            Our cloud technology does all the complicated technical work.
            Consolidated tracking, collection, accounting, short lead times all included. We are scalable to infinite catalog sizes.
          </p>
          <p>
            Choose from no conversion cost, or a low one-time fee.
          </p>
          <p class="pt-4">
            <a href="https://intercom.help/filmhub" class="btn btn-outline-info contact-us mr-3">Contact sales</a> or <a href="tel:{{ site.phone }}" title="Call us: {{ site.phone }}" class="linkhint">call us</a></li>
          </p>
        </div>
      </div>

      <div class="col-md-4 vertical-center order-2 order-md-1">
        <div class="card">
          <figure class="figure text-center pt-5 pt-md-0">
            <img data-src="/images/screen-territories.png" class="lazyload figure-img img-fluid rounded shadow-lg w-75" alt="Carve out territories and streaming services">
            <figcaption class="figure-caption text-white-50">Carve out territories with fine-grained control</figcaption>
          </figure>
          <figure class="figure text-center d-none d-md-block pt-4">
            <img data-src="/images/screen-releases.png" class="lazyload figure-img img-fluid rounded shadow-lg w-75" alt="Set release dates for different business models">
            <figcaption class="figure-caption text-white-50">Set release dates for different business models</figcaption>
          </figure>
        </div>
      </div>


    </div>
  </div>
</section>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "https://filmhub.com",
  "logo": "https://filmhub.com/images/icon_v2_600.png",
  "sameAs": [
    "https://blog.filmhub.com",
    "https://twitter.com/filmhubhq",
    "https://facebook.com/filmhubhq",
    "https://www.youtube.com/user/kinonationfilms",
    "https://www.linkedin.com/company/filmhub/",
    "https://www.facebook.com/filmhubhq",
    "https://instagram.com/filmhubhq"
  ],
  "contactPoint": [
  {
    "@type": "ContactPoint",
    "telephone": "{{ site.phone }}",
    "contactType": "sales"
  },
  {
    "@type": "ContactPoint",
    "url": "https://intercom.help/filmhub",
    "contactType": "customer support"
  }
  ]
}
</script>
