---
layout: bootstrap
title: Blog tags
id: tags
---
{% include _tags-count.html %}

<div class="container content">
  <h1 class="page-header">Posts by tags</h1>
  <div class="row">

    <div class="col-md-8"> <!-- left column -->
      {% for item in (0..num_words) %}{% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <a class="anchor" id="{{ this_word | cgi_escape }}"></a>
        <p class="singletag"><i class="fa fa-tag"></i> <a href="#tags-sidenav" class="tag label label-default">{{ this_word }}</a></p>
        <ul class="posts">
          {% for post in site.tags[this_word] %}
            {% if post.title != null %}
            <li><small class="text-muted">{{ post.categories | first}} | <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time> &raquo;</small> <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endunless %}{% endfor %}
    </div>
    
    <div class="col-md-4">
      
      {% include _tags-sidenav.html %}
      {% include _blog-sidenav.html %}
  
    </div>
    
  </div>
</div>