---
layout: bootstrap
title: Blog
---
<div class="container content">
  <div class="well">
    <h1 class="page-header">Our blog has moved</h1>
    <p class="lead">
      We're now on <a href="http://kinonation.tumblr.com">tumblr</a>. If you ended up here, you maybe followed an outdated link. Sorry for that. 
    </p>
    <p>
      You can also get social with us on <a href="//facebook.com/kinonation">Facebook</a> or <a href="//twitter.com/kinonation1">Twitter</a>,
      or browse through lots of information in our <a href="https://kinonation.zendesk.com/">Help Center</a>.
    </p>
  </div>
  <div class="row">
    <div class="col-md-8"> <!-- left column -->

{% assign counter = '' %}
{% for post in site.categories["oldblog"] %}
  {% capture temp %}{{ counter }}*{% endcapture %}
  {% assign counter = temp %}
  <article id="article-{{ counter.size }}">
    <h2><a href="{{ post.url }}">{{ post.title }}</a>
      {% if post.subtitle != '' %}
        <br/><small>{{ post.subtitle }}</small>
      {% endif %}
    </h2>
    <p><small>Posted by {{ post.author }} on {{ post.date | date_to_long_string }}</small></p>
    {{ post.excerpt }}
    <p><a href="{{ post.url }}">Read more…</a></p>
    <hr/>
  </article>
{% endfor %}
    </div> <!-- left column -->
    <div class="col-md-4">
      
    </div>
  </div>  <!-- row -->
</div>   <!-- container -->
