<!-- Google Tag Manager -->
<script>
var dataLayer = []
document.addEventListener('DOMContentLoaded', function(event) {
  dataLayer.push({
    event: 'turbolinksVisit',
    url: window.location.href,
    title: document.title
  });
  console.log("GTM pageVisit ", window.location.href)
});
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-564T8LP');
</script>
<!-- End Google Tag Manager -->

<!-- start Mailchimp connect your site -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/4c8f42cac8a67782f5700b189/e4924baecb0202a9c38967431.js");</script>
<!-- end Mailchimp connect your site -->
