<a class="anchor" id="logos"></a>
<section>
  <div class="container">
    <!-- <div class="row"> -->
      <div id="vodlogos" class="col-md-11 text-center">
        <!-- <h2>ACCESS TO GLOBAL VOD</h2> -->
        <span class="icon-Netflix"></span>
        <span class="icon-Amazon"></span>
        <span class="icon-Hulu"></span>
        <span class="icon-FandangoNow"></span>
        <span class="icon-Vimeo"></span>
        <span class="icon-Itunes"></span>
        <span class="icon-Roku"></span>
        <span class="icon-ChinaMobile"></span>
        <span class="icon-YahooView"></span>
        <span class="icon-Hoopla"></span>
        <span class="icon-GooglePlay"></span>
        <span class="icon-Popcornflix"></span>
        <span class="icon-Iflix"></span>
        <span class="icon-FlixPremiere"></span>
        <span class="icon-PPTV"></span>
        <span class="icon-VHX"></span>
        <span class="icon-GoneTV"></span>
        <span class="icon-FilmOn"></span>
        <span class="icon-Tubitv"></span>
        <span class="icon-BesTV"></span>
        <span class="icon-ConTV"></span>
        <span class="icon-DoveChannel"></span>
        <span class="icon-Overdrive"></span>
        <span class="icon-StreamPix"></span>
        <span class="icon-Viewster"></span>
        <span class="icon-IndieReign"></span>
        <span class="icon-SnagFilms"></span>
        <span class="icon-Fandor"></span>
        <span class="icon-Docurama"></span>
        <span class="icon-Cinecliq"></span>
        <span class="icon-AllWariorNetwork"></span>
        <span class="icon-BlackBeltTV"></span>
        <span class="icon-Dekkoo"></span>
        <span class="icon-DocComTV"></span>
        <span class="icon-GoodyBuzz"></span>
        <span class="icon-Kanopy"></span>
        <span class="icon-Kinoflimmern"></span>
        <span class="icon-LuminTV"></span>
        <span class="icon-Motorland"></span>
        <span class="icon-MySpotlightTV"></span>
        <span class="icon-PantaFlix"></span>
        <span class="icon-Realeyz"></span>
        <span class="icon-SBG"></span>
        <span class="icon-TBD"></span>
      </div>
    <!-- </div> -->

  </div>
</section>
