<a class="anchor" id="logos"></a>
<section>
  <div id="channel-logos" class="container text-center">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default active" data-toggle="button" data-filter="all">All</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".hq-na">North America</button>
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".hq-eu">Europe</button>
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".hq-asia">Asia</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".format-tvod">TVOD</button>
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".format-avod">AVOD</button>
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".format-svod">SVOD</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".profile-lgbt">LGBT</button>
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".profile-shorts">Shorts</button>
        <!-- <button type="button" class="btn btn-default" data-toggle="button" data-filter=".profile-edu">Edu</button> -->
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".profile-docs">Docs</button>
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".profile-arthouse">Arthouse</button>
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".profile-spiritual">Spiritual</button>
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".profile-culture">Culture</button>
        <!-- <button type="button" class="btn btn-default" data-toggle="button" data-filter=".profile-horror">Horror</button> -->
     </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".device">Devices</button>
        <button type="button" class="btn btn-default" data-toggle="button" data-filter=".integration">Integrations</button>
      </div>
   </div>
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-svod profile-lgbt profile-arthouse">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Netflix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na hq-eu format-svod format-tvod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Amazon"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-svod profile-arthouse">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Hulu"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix device">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Roku"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-asia format-svod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-ChinaMobile"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-tvod profile-shorts">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Vimeo"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-tvod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Itunes"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-svod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-FandangoNow"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-tvod profile-spiritual">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-ChristianCinema"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-avod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-YahooView"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na hq-na format-tvod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Hoopla"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-tvod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Overdrive"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-tvod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Kanopy"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-tvod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-GooglePlay"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-linear">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-SBG"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-linear">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-TBD"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-avod profile-arthouse">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Tubitv"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-asia format-svod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Iflix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na hq-eu format-svod">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-FlixPremiere"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-PPTV"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix integration">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-VHX"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-svod format-avod profile-docs">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-GoneTV"></div>
          </div>
        </div>
      </div><!--
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-eu">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-FilmOn"></div>
          </div>
        </div>
      </div> -->
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-asia">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-BesTV"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-ConTV"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-spiritual">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-DoveChannel"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na format-linear">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Telus"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-culture">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Qello"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-eu profile-docs">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Guidedoc"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-shorts">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-StreamPix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-eu">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Viewster"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-IndieReign"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-SnagFilms"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-arthouse">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Fandor"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-docs">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Docurama"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-shorts">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-UDUDigital"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-docs">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-AllWariorNetwork"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-BlackBeltTV"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-lgbt">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Dekkoo"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-docs">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-DocComTV"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-asia">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-GoodyBuzz"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-eu">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Kinoflimmern"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-LuminTV"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Motorland"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-MySpotlightTV"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-eu profile-shorts">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-PantaFlix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-eu profile-arthouse">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Realeyz"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-shorts">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-SciFiNow"></div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-lgbt">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Revry">Revry</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-shorts">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Nandar">Nandar</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-shorts">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Unreel">Unreel</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-shorts">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Punchflix">Punchflix</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-shorts">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Filmography">Filmography</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na profile-culture">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-AllGuitarNetwork">All Guitar Network</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na svod tvod profile-culture">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-AllGuitarNetwork">Flixfling</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na svod tvod profile-spiritual">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Gaia">Gaia</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na svod tvod profile-spiritual">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Gaia">Cozyflix</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 mix hq-na svod tvod profile-spiritual">
        <div class="thumbnail">
          <div class="caption">
            <div class="icon-Gaia">HYTV</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
