<div class="modal fade" tabindex="-1" role="dialog" id="requestdemomodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please Complete to Schedule a Demo:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="requestdemoform">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" id="inputName" placeholder="Name *" autocomplete="name" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email *" autocomplete="email" required>
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="inputPhone" placeholder="Phone Number *" autocomplete="tel-national" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputCompany" placeholder="Company or Film Name" autocomplete="organization">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputCountry" placeholder="Country" autocomplete="country">
          </div>
          <div class="form-group">
            <label class="control-label">Catalog Size:<super>*</super>&nbsp;</label>
            <label class="radio-inline">
              <input type="radio" name="inputCatalog" id="inputCatalog1" value="1-9" required> 1-9 Titles&nbsp;
            </label>
            <label class="radio-inline">
              <input type="radio" name="inputCatalog" id="inputCatalog10" value="10-499" required> 10-499 Titles&nbsp;
            </label>
            <label class="radio-inline">
              <input type="radio" name="inputCatalog" id="inputCatalog500" value="500+" required> Over 500 Titles
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" id="inputSubmit">Next</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
