<!-- eyebrow - phone -->
<div class="eyebrow">
  <div class="container-fluid">
    <a href="tel:+1-424-209-8578" title="Call Us Today: +1-424-209-8578"><i class="fa fa-lg fa-phone"></i> +1 (424) 209&nbsp;8578</a>
    <span class="pull-right">
      <a href="https://twitter.com/filmhubhq"><i class="fa fa-lg fa-twitter"></i></a>
      <a href="https://www.facebook.com/filmhubhq"><i class="fa fa-lg fa-facebook"></i></a>
      <a href="https://www.linkedin.com/company/filmhub/"><i class="fa fa-lg fa-linkedin"></i></a>
      <a href="https://www.youtube.com/user/kinonationfilms"><i class="fa fa-lg fa-youtube"></i></a>
      <a href="//filmhub.zendesk.com">Help</a>
    </span>
  </div>
</div>
