<footer>
  <div class="container">
    <ul>
      <li>Copyright &copy; {{ site.time | date: '%Y' }} Filmhub</li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="//filmhub.zendesk.com/hc/en-us/requests/new">Contact</a></li>
      <li><a href="//filmhub.zendesk.com">Help</a></li>
      {% include _footer_lang.html %}
      <li><a href="http://weibo.com/kinonationchina"><i class="fa fa-lg fa-tencent-weibo"></i></a></li>
    </ul>
  </div>
</footer>
