<footer>
  <section class="footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h4>Product</h4>
          <ul class="list-unstyled">
            <li><a href="https://app.filmhub.com/owner/signup">Sign up</a></li>
            <li><a href="https://app.filmhub.com/login">Log in</a></li>
            <li><a href="https://headwayapp.co/filmhub-updates">Product Updates</a></li>
            <li><a href="https://stackshare.io/klausbadelt/filmhub">StackShare&nbsp;<img class="lazyload" data-src="https://img.shields.io/badge/tech-stack-0690fa.svg?style=flat" /></a></li>
            <li><a href="https://github.com/filmhubhq/filmhub.github.io">Website&nbsp;<img class="lazyload" data-src="https://travis-ci.org/filmhubhq/filmhubhq.github.io.svg?branch=master" /></a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Company</h4>
          <ul class="list-unstyled">
            <li><a href="{% if page.url != '/index.html' %}/{% endif %}#about" class="animate">About</a></li>
            <li><a href="tel:+1-424-209-8578" title="Call us: +1-424-209-8578">Call us <i class="fa fa-phone"></i></a></li>
            <li><a href="https://intercom.help/filmhub" class="contact-us">Contact us</a></li>
            <li><a href="/jobs">Careers</a></li>
            <li><a href="/pr">Press</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Support</h4>
          <ul class="list-unstyled">
            <li><a href="https://intercom.help/filmhub" class="intercom-launcher">Help Center</a></li>
            <li><a href="http://feathub.com/filmhubhq/filmhubhq.github.io">Suggest a feature</a></li>
            <li><a href="https://intercom.help/filmhub/filmhub-user-manual">User manual</a></li>
            <li><a href="#" data-toggle="modal" data-target="#requestdemomodal">Get a demo</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Community</h4>
          <ul class="list-unstyled">
            <li><a href="https://blog.filmhub.com">Blog <i class="fab fa-medium-m"></i></a></li>
            <li><a href="https://twitter.com/filmhubhq">Twitter <i class="fab fa-twitter"></i></a></li>
            <li><a href="http://facebook.com/filmhubhq">Facebook <i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/user/kinonationfilms">YouTube <i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/company/filmhub/">LinkedIn <i class="fab fa-linkedin"></i></a></li>
            <li><a href="/zh">中文</a> · <a href="/">English</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-legal">
    <div class="container">
      &copy; 2017-{{ site.time | date: '%Y' }} Filmhub · <a href="/terms">Terms</a> · <a href="/privacy">Privacy</a>
    </div>
  </section>
</footer>

