<footer>
  <div class="container">
      <ul>
        <li>Copyright &copy; 2014 Kinonation</li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="//kinonation.zendesk.com">Help</a></li>
        <li><a href="http://twitter.com/kinonation1"><i class="fa fa-lg fa-twitter"></i></a></li>
        <li><a href="http://facebook.com/kinonation"><i class="fa fa-lg fa-facebook"></i></a></li>
      </ul>
      
      {% if site.social %}
      <div class="social">
      	<span class="twitter">
      		<a href="http://twitter.com/share" data-text="Check this out:" data-hashtags="vod" class="twitter-share-button" data-url="http://kinonation.com/">Tweet</a>
      	</span>
        <span class="twitter-follow"><a href="https://twitter.com/Kinonation1" class="twitter-follow-button" data-show-count="false">Follow @Kinonation1</a></span>
      	<span class="Facebook">
      		<iframe src="https://www.facebook.com/plugins/like.php?href=http://kinonation.com&show_faces=false&layout=button_count" scrolling="no" frameborder="0" style="height: 21px; width: 100px" allowTransparency="true"></iframe>
      	</span>
      </div>
      {% endif %}
  </div>
</footer>
