<footer>
  <section class="footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h4>产品</h4>
          <ul class="list-unstyled">
            <li><a href="https://app.filmhub.com/owner/signup">注册</a></li>
            <li><a href="https://app.filmhub.com/login">登录</a></li>
            <li><a href="https://headwayapp.co/filmhub-updates">产品更新</a></li>
            <li><a href="https://stackshare.io/klausbadelt/filmhub">StackShare&nbsp;<img class="lazyload" data-src="https://img.shields.io/badge/tech-stack-0690fa.svg?style=flat" /></a></li>
            <li><a href="https://github.com/filmhubhq/filmhub.github.io">网站&nbsp;<img class="lazyload" data-src="https://travis-ci.org/filmhubhq/filmhubhq.github.io.svg?branch=master" /></a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>公司</h4>
          <ul class="list-unstyled">
            <li><a href="tel:+1-424-268-8366" title="Call us: +1-424-268-8366">Call us <i class="fa fa-phone"></i></a></li>
            <li><a href="https://intercom.help/filmhub" class="contact-us">Contact us</a></li>
            <li><a href="/jobs">Careers</a></li>
            <li><a href="/pr">Press</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/privacy">Privacy</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>支持</h4>
          <ul class="list-unstyled">
            <li><a href="https://intercom.help/filmhub" class="intercom-launcher">帮助</a></li>
            <li><a href="https://feathub.com/filmhubhq/filmhub.github.io">Feature wishlist</a></li>
            <li><a href="https://intercom.help/filmhub/filmhub-user-manual">User manual</a></li>
            <li><a href="#" data-toggle="modal" data-target="#requestdemomodal">Get a demo</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>社区</h4>
          <ul class="list-unstyled">
            <li><a href="https://blog.filmhub.com">Blog <i class="fab fa-medium-m"></i></a></li>
            <li><a href="https://twitter.com/filmhubhq">Twitter <i class="fab fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/filmhubhq">Facebook <i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/user/kinonationfilms">YouTube <i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/company/filmhub/">LinkedIn <i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://instagram.com/filmhubhq">Instagram <i class="fab fa-instagram"></i></a></li>
            <li><a href="https://weibo.com/kinonationchina">Weibo <i class="fab fa-tencent-weibo"></i></a></li>
            <li><a href="/">English</a></li>
            <li><a href="/zh">中文</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-legal">
    <div class="container">
      <small class="text-muted">Copyright &copy; {{ site.time | date: '%Y' }} Filmhub</small>
    </div>
  </section>
</footer>

