<footer class="footer mt-auto">
  <section class="footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h4>Product</h4>
          <ul class="list-unstyled">
            <li><a href="https://app.filmhub.com/owner/signup">Sign up</a></li>
            <li><a href="https://app.filmhub.com/login">Log in</a></li>
            <li><a href="https://headwayapp.co/filmhub-updates">Product Updates</a></li>
            <li>
              <a href="https://stackshare.io/klausbadelt/filmhub"><img class="lazy" data-src="https://img.shields.io/badge/tech-stack-0690fa.svg?style=flat" /></a>&nbsp;
              <a href="https://app.netlify.com/sites/unruffled-archimedes-c4fc4d/deploys"><img class="lazyload" data-src="https://api.netlify.com/api/v1/badges/2ae96e73-f5c2-4b6e-ad71-23337a2c407d/deploy-status" /></a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Company</h4>
          <ul class="list-unstyled">
            <li><a href="http://help.filmhub.com" class="contact-us">Contact us</a></li>
            <li><a href="/jobs">Careers</a></li>
            <li><a href="/pr">Public Relations</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Support</h4>
          <ul class="list-unstyled">
            <li><a href="http://help.filmhub.com" >Help Center</a></li>
            <li><a href="https://feathub.com/filmhubhq/filmhubhq.github.io">Suggest a feature</a></li>
            <li><a href="#" data-toggle="modal" data-target="#requestdemomodal">Get a demo</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Community</h4>
          <ul class="list-unstyled">
            <li><a href="/blog"><i class="fab fa-fw fa-medium-m"></i> Blog</a></li>
            <li><a href="https://twitter.com/filmhubhq"><i class="fab fa-fw fa-twitter"></i> Twitter</a></li>
            <li><a href="https://facebook.com/filmhubhq"><i class="fab fa-fw fa-facebook"></i> Facebook</a></li>
            <li><a href="https://www.linkedin.com/company/filmhub/"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></li>
            <li><a href="https://instagram.com/filmhubhq"><i class="fab fa-fw fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-legal">
    <div class="container">
      &copy; {{ site.time | date: '%Y' }} Filmhub · <a href="/terms">Terms</a> · <a href="/privacy">Privacy</a>
    </div>
  </section>
</footer>
