<div class="list-group">
<!-- <div id="sidenav" class="sidebar" role="complementary"> -->

    <a class="list-group-item {% if page.url == "/help/index.html" %}active{% endif %}" href="/help"><i class="fa fa-home"></i> Help Center Home</a>
    <a class="list-group-item {% if page.category == 'getting-started' %}active{% endif %}" href="/help/getting-started"><i class="fa fa-glass"></i> Getting Started</a>
    {% for cat in site.categories %}
      {% if cat[0] != 'blog' and cat[0] != 'help' and cat[0] != 'getting-started' %}
        <a class="list-group-item {% if page.category == cat[0] %}active{% endif %}" href="/help/{{ cat[0] }}">{{ cat[0] | capitalize }}</a>
      {% endif %}
    {% endfor %}

    <a class="list-group-item {% if page.url == "/help/ticket.html" %}active{% endif %}" href="/help/ticket.html"><i class="fa fa-ticket"></i> Submit a ticket</a>

</div>

{% include _searchbox.html %}
