<div class="list-group">
    <a class="list-group-item {% if page.url == "/help/index.html" %}active{% endif %}" href="/help"><i class="fa fa-home"></i> Overview</a>
    <a class="list-group-item {% if page.category == 'getting-started' %}active{% endif %}" href="/help/getting-started"><i class="fa fa-glass"></i> Getting Started</a>
    <a class="list-group-item {% if page.category == 'forum' %}active{% endif %}" href="/help/forum"><i class="fa fa-users"></i> Forums <small class="text-muted"> ask for help</small></a>
    {% for cat in site.categories %}
      {% if cat[0] != 'blog' and cat[0] != 'help' and cat[0] != 'getting-started' %}
        <a class="list-group-item {% if page.category == cat[0] %}active{% endif %}" href="/help/{{ cat[0] }}">{{ cat[0] | capitalize }} <span class="badge">{{ cat | last | size}}</span></a>
      {% endif %}
    {% endfor %}

    <a class="list-group-item {% if page.url == "/help/ticket.html" %}active{% endif %}" href="/help/ticket.html"><i class="fa fa-ticket"></i> Submit a ticket</a>

</div>

