<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
<script src="/js/jquery.lazyload.min.js"></script>
<script>
  {% include demoreq.min.js %}
</script>

{% if site.social %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endif %}

{% if page.custom_js %}
<script type="text/javascript">
{% for js_file in page.custom_js %}
  {% include  {{js_file}}.js %}
{% endfor %}
  </script>
{% endif %}

<!-- adroll -->
<script type="text/javascript">
  adroll_adv_id = "6IWTBSC2EZD4BM26XXIKZV";
  adroll_pix_id = "WZAQL5MO45CFPHYMSB2RVC";

  (function () {
      var _onload = function(){
          if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
          if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
          var scr = document.createElement("script");
          var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
          scr.setAttribute('async', 'true');
          scr.type = "text/javascript";
          scr.src = host + "/j/roundtrip.js";
          ((document.getElementsByTagName('head') || [null])[0] ||
              document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      };
      if (window.addEventListener) {window.addEventListener('load', _onload, false);}
      else {window.attachEvent('onload', _onload)}
  }());
</script>

<script>
$(document).ready(function() {
  var $root = $('html, body');
  $('a.animate').click(function(e) {
      var href = $.attr(this, 'href').replace(/^\//,'');
      $root.animate({
        scrollTop: $(href).offset().top
      }, 500, function () {
        window.location.hash = href;
      });
      e.preventDefault();
  });

  // init bootstrap popover & tooltip
  $('[data-toggle="popover"]').popover();
  $('a[data-toggle="tooltip"]').tooltip().click(function(e) {
    e.preventDefault();
  });

  // lazyload
  var $imgs = $("img.lazy");
  $imgs.lazyload({
    failure_limit: Math.max($imgs.length - 1, 0)
  });
});
</script>
