<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/lazyload.min.js"></script>

<script>{% include js/demoreq.min.js %}</script>

{% for js_file in page.custom_js %}
<script type="text/javascript">
  {% include js/{{js_file}}.js %}
</script>
{% endfor %}

<script>{% include js/app.js %}</script>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-564T8LP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
