{% capture home %}{% if page.url != '/index.html' %}/{% endif %}{% endcapture %}

  <nav class="mb-0 pb-0 navbar navbar-{{ include.theme | default: "dark" }} navbar-expand-md w-100 px-0 bg-{{ include.bg | default: "transparent" }} ">
    <a class="navbar-brand" {% if page.url == '/index.html' %} href="#top" {% else %} href="/" {% endif %}>
      <img src="/images/filmhub.svg" width="150" alt="Filmhub">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto d-none d-flex">
        <a class="nav-item nav-link animate" href="{{ home }}#pricing" >Pricing</a>
        <a class="nav-item nav-link animate" href="{{ home }}#enterprise">Enterprise</a>
        <a class="nav-item nav-link" href="https://blog.filmhub.com">Blog</a>
        <a class="nav-item nav-link d-none d-lg-inline" href="/jobs">Jobs</a>
        <a class="nav-item nav-link" href="#" id="requestdemobtn" data-toggle="modal" data-target="#requestdemomodal">Get demo</a>
        <a class="nav-item nav-link" href="/zh">中文</a>
        <a class="nav-item nav-link" href="https://app.filmhub.com/login">Log in</a>
        <a class="nav-item btn btn-outline-primary my-2 my-sm-0" href="https://app.filmhub.com/owner/signup">Sign up</a>
      </div>
    </div>
  </nav>
  <p class="text-muted mt-o pt-0">The #1 indie film distribution platform</p>
