{% capture home %}{% if page.url != '/index.html' %}/{% endif %}{% endcapture %}

  <nav class="navbar navbar-{{ include.theme | default: "dark" }} navbar-expand-md bg-{{ include.theme | default: "transparent" }} ">
    <a class="navbar-brand" {% if page.url == '/index.html' %} href="#top" {% else %} href="/" {% endif %}>
      <img src="/images/filmhub.svg" width="150" alt="Filmhub">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto d-none d-flex">
        <a class="nav-item nav-link animate" href="{{ home }}#pricing" >价格</a>
        <a class="nav-item nav-link animate" href="{{ home }}#enterprise">企业版</a>
        <a class="nav-item nav-link animate d-none d-lg-inline" href="{{ home }}#about">关于我们</a>
        <a class="nav-item nav-link" href="https://blog.filmhub.com">博客</a>
        <a class="nav-item nav-link d-none d-lg-inline" href="/jobs">工作</a>
        <a class="nav-item nav-link text-warning" href="#" id="requestdemobtn" data-toggle="modal" data-target="#requestdemomodal">Get a demo</a>
        <a class="nav-item nav-link" href="/">en</a>
        <a class="nav-item nav-link" href="https://app.filmhub.com/login">登录</a>
        <a class="nav-item btn btn-outline-warning my-2 my-sm-0" href="https://app.filmhub.com/owner/signup">现在加入</a>
      </div>
    </div>
  </nav>
