<!-- <div class="modal fade" tabindex="-1" role="dialog" id="sendgrid-popup-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-gradient-filmhub text-light shadow-lg">
      <div class="modal-header">
        <h5 class="modal-title">Get our newsletter</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times-circle"></i>
        </button>
      </div>
      <form action="/.netlify/functions/list-signup" id="sendgrid-popup-form">
        <div class="modal-body">
          <p>Follow us and get our occasional newsletter with digital distribution tips and updates onour development.</p>
          <div class="form-group">
            <label class="form-check-label" for="type-filmmaker">I'm a&nbsp;</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="type" id="type-filmmaker" value="filmmaker" required>
              <label class="form-check-label" for="type-filmmaker">filmmaker/producer</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="type" id="type-catalog" value="catalog" required>
              <label class="form-check-label" for="type-catalog">catalog owner</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="type" id="type-buyer" value="buyer" required>
              <label class="form-check-label" for="type-buyer">buyer/programmer</label>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input name="email" class="form-control email required" type="email" size=30 value="" id="sendgrid-signup-email" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="honeypot" tabindex="-1" value=""></div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-warning" id="sendgrid-popup-submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>
 -->