<!-- must {% include _tags-count.html %} before including me -->
<div id="tags">

  <a class="anchor" id="tags-sidenav"></a>
  <h2><i class="fa fa-tags"></i> Tags</h2>
  <p id="tag-box">
  {% for item in (0..num_words) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <a href="/tags#{{ this_word | cgi_escape }}" class="tag label label-default">{{ this_word }} <span>{{ site.tags[this_word].size }}</span></a>
  {% endunless %}{% endfor %}
  </p>

</div>
