<div id="upload-specs">
  <div class="container section">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-header">
          Upload-Specs <small>Condensed Overview</small>
        </h1>
        <h2>
          Summary
        </h2>
        <p class="lead">
          Apple ProRes or Avid DNxHD .mov, stereo audio, no letterbox - interlaced - preroll - postroll - URLs
        </p>
        <p>Official specs, detailed info and support in our <a href="https://filmhub.zendesk.com/hc/en-us/articles/201443896-upload-specs">help center article</a>.</p>
        <div class="alert alert-success">
          <h3>
            Accepted
          </h3>
          <dl class="dl-horizontal">
            <dt>
              Codec
            </dt>
            <dd>
              Apple ProRes 422 HQ, Avid DNxHD (8 bit)
            </dd>
            <dt>
              Frame rate
            </dt>
            <dd>
              Any progressive, examples: 23.98p, 24p, 25p, 30p, 29.97p
            </dd>
            <dt>
              File Size
            </dt>
            <dd>
              Unlimited (200 GB+). The bigger the better.
            </dd>
            <dt>
              File Format
            </dt>
            <dd>
              QuickTime .mov
            </dd>
            <dt>
              Fast Start
            </dt>
            <dd>
              Enabled
            </dd>
            <dt>
              Resolution
            </dt>
            <dd>
              Minimum SD (480 height). Preferred HD (720 width or more), 2k, 4k.
            </dd>
            <dt>
              Pixel Aspect Ratio
            </dt>
            <dd>
              Square pixels only
            </dd>
            <dt>
              Letterbox
            </dt>
            <dd>
              No black bars around the picture
            </dd>
            <dt>
              Pre/Post Roll
            </dt>
            <dd>
              None. No slate, slug, bars, tone, cards. Max 1 sec black before &amp; after.
            </dd>
            <dt>
              Audio
            </dt>
            <dd>
              PCM Stereo, single stream. No surround yet, sorry
            </dd>
            <dt>
              Subtitles
            </dt>
            <dd>
              Separate SRT file. No burn-in. More on <a href="https://filmhub.zendesk.com/hc/en-us/sections/200343863-Subtitles-closed-captions">Closed Captions and Subtitles</a>.
            </dd>
          </dl>
        </div>
        <div class="alert alert-danger">
          <h3>
            Not accepted
          </h3>
          <dl class="dl-horizontal">
            <dt>Letterbox</dt>
            <dd>No</dd>
            <dt>Pillarbox</dt>
            <dd>No</dd>
            <dt>Interlaced</dt>
            <dd>No</dd>
            <dt>Subtitles</dt>
            <dd>No burn in except trailers</dd>
            <dt>Anamorphic pixels</dt>
            <dd>No anamorphic ("squeezed") pixels. Square pixels only.</dd>
            <dt>Websites</dt>
            <dd>No URLs or promo links (e.g. film website, Facebook page, available to download, etc.) anywhere in the film or trailer, including end credits
            </dd>
            <dt>MPAA card</dt>
            <dd>No - neither real nor bogus</dd>
            <dt>Other No's</dt>
            <dd>No bars, slate, test-tone, pre-roll, post-roll (max. 1 sec of black before film starts or after credits end)</dd>
            <dt>Title-Safe</dt>
            <dd>No titles or captions outside <a href="http://en.wikipedia.org/wiki/Safe_area_(television)#Title-safe_area" target="_blank">title-safe area</a></dd>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
