<div id="upload-specs">
  <div class="container section">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h1 class="page-header">Upload-Specs </h1>
        <h2><span class="glyphicon glyphicon-user"></span> Overview</h2>
        <p>Apple ProRes or Avid DNxHD .mov, stereo audio, no letterbox/interlaced/preroll/postroll/URLs</p>
        
        
        
        
        <div class="article-body">
      <p><span class="wysiwyg-font-size-large">Overview</span></p>
<p>Apple ProRes or Avid DNxHD .mov, stereo&nbsp;audio,&nbsp;<strong>no</strong> letterbox/interlaced/preroll/postroll/URLs</p>
<p><span class="wysiwyg-font-size-large">Details</span></p>
<table>
<tbody>
<tr>
<td>Codec</td>
<td>Apple ProRes 422 HQ, Avid DNxHD (8 bit)</td>
</tr>
<tr>
<td>Frame rate</td>
<td>Any progressive, examples: 23.98p, 24p, 25p, 30p, 29.97p</td>
</tr>
<tr>
<td>File Size</td>
<td>Unlimited (200 GB+). The bigger the better.</td>
</tr>
<tr>
<td>File Format</td>
<td>QuickTime .mov</td>
</tr>
<tr>
<td>Fast Start</td>
<td>Enabled</td>
</tr>
<tr>
<td>Resolution</td>
<td>Minimum SD (480 height). Preferred HD (720 width or more), 2k, 4k.</td>
</tr>
<tr>
<td>Pixel Aspect Ratio</td>
<td>Square pixels only</td>
</tr>
<tr>
<td>Letterbox</td>
<td>No black bars around the picture</td>
</tr>
<tr>
<td>Pre/Post Roll</td>
<td>None. No slate, slug, bars, tone, cards. Max 1 sec black before &amp; after.</td>
</tr>
<tr>
<td>Audio</td>
<td>PCM Stereo, single stream. No surround yet, sorry</td>
</tr>
<tr>
<td>Subtitles</td>
<td>Separate SRT file. No burn-in. See our <a href="/hc/en-us/sections/200343863-Subtitles-closed-captions">subtitles section</a>.</td>
</tr>
</tbody>
</table>
<p><span class="wysiwyg-font-size-large">Not accepted:</span></p>

<div class="alert alert-info">
<ul>
<li>No&nbsp;letterbox</li>
<li>No&nbsp;pillarbox</li>
<li>No interlaced</li>
<li>No&nbsp;burned in subtitles (except trailers)</li>
<li>No&nbsp;anamorphic (squeezed) pixels</li>
<li>No&nbsp;URLs or promo links (e.g. film website, Facebook page, available to download, etc.) anywhere in the film or trailer, including end credits</li>
<li>No real or bogus MPAA rating card</li>
<li>No bars, slate, test-tone, pre-roll, post-roll (max. 1 sec of black before film starts or after credits end)</li>
<li>No titles or captions outside title-safe area</li>
</ul>
<p><img src="/hc/en-us/article_attachments/200392076/academy-leader-150x150.jpg" alt="" />&nbsp;<img src="/hc/en-us/article_attachments/200480033/interlaced-150x150.jpg" alt="" />&nbsp;<img src="/hc/en-us/article_attachments/200480787/SMPTE_Color_Bars_16x9-150x150.jpg" alt="" /></p>
<p>&nbsp;</p>
    </div>
</div>
        

    </div>
  </div> <!-- row -->
</div>
