// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

.page-support-index {
  .jumbotron {
    background-color: #789951;
  }
  
  h3 a {
    color: $gray;
  }  
}

