// This contains Kinonation VOD Outlet Icons used on the kinonation.com landing page.

// Created using Icomoon
// icomoon.io

@import "variables";

@font-face {
  font-family: 'KinonationFont';
  src:  url('#{$icomoon-font-path}/KinonationFont.eot?14772j');
  src:  url('#{$icomoon-font-path}/KinonationFont.eot?14772j#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/KinonationFont.ttf?14772j') format('truetype'),
    url('#{$icomoon-font-path}/KinonationFont.woff?14772j') format('woff'),
    url('#{$icomoon-font-path}/KinonationFont.svg?14772j#KinonationFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'KinonationFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-AllWariorNetwork {
  font-size: 2em !important;
  &:before {
    content: $icon-AllWariorNetwork;
  }
}
.icon-BlackBeltTV {
  font-size: 3em !important;
  &:before {
    content: $icon-BlackBeltTV;
  }
}
.icon-Dekkoo {
  &:before {
    content: $icon-Dekkoo;
  }
}
.icon-DocComTV {
  &:before {
    content: $icon-DocComTV;
  }
}
.icon-GoodyBuzz {
  &:before {
    content: $icon-GoodyBuzz;
  }
}
.icon-GooglePlay {
  font-size: 1.5em !important;
  &:before {
    content: $icon-GooglePlay;
  }
}
.icon-Kanopy {
  font-size: 2em !important;
  &:before {
    content: $icon-Kanopy;
  }
}
.icon-Kinoflimmern {
  font-size: 2em !important;
  &:before {
    content: $icon-Kinoflimmern;
  }
}
.icon-LuminTV {
  &:before {
    content: $icon-LuminTV;
  }
}
.icon-Motorland {
  font-size: 2em !important;
  &:before {
    content: $icon-Motorland;
  }
}
.icon-MySpotlightTV {
  &:before {
    content: $icon-MySpotlightTV;
  }
}
.icon-PantaFlix {
  &:before {
    content: $icon-PantaFlix;
  }
}
.icon-Realeyz {
  &:before {
    content: $icon-Realeyz;
  }
}
.icon-SBG {
  font-size: 2.4em !important;
  &:before {
    content: $icon-SBG;
  }
}
.icon-TBD {
  font-size: 2.2em !important;
  &:before {
    content: $icon-TBD;
  }
}
.icon-GoneTV {
  &:before {
    content: $icon-GoneTV;
  }
}
.icon-FilmOn {
  &:before {
    content: $icon-FilmOn;
  }
}
.icon-PPTV {
  &:before {
    content: $icon-PPTV;
  }
}
.icon-VHX {
  &:before {
    content: $icon-VHX;
  }
}
.icon-Amazon {
  font-size: 1.7em !important;
  &:before {
    content: $icon-Amazon;
  }
}
.icon-YahooView {
  font-size: 2em !important;
  &:before {
    content: $icon-YahooView;
  }
}
.icon-FlixPremiere {
  font-size: 3em !important;
  &:before {
    content: $icon-FlixPremiere;
  }
}
.icon-Iflix {
  &:before {
    content: $icon-Iflix;
  }
}
.icon-ChinaMobile {
  font-size: 2em !important;
  &:before {
    content: $icon-ChinaMobile;
  }
}
.icon-BesTV {
  &:before {
    content: $icon-BesTV;
  }
}
.icon-Cinecliq {
  font-size: 2.5em !important;
  &:before {
    content: $icon-Cinecliq;
  }
}
.icon-ConTV {
  font-size: 3em !important;
  &:before {
    content: $icon-ConTV;
  }
}
.icon-Docurama {
  font-size: 2em !important;
  &:before {
    content: $icon-Docurama;
  }
}
.icon-DoveChannel {
  font-size: 2.4em !important;
  &:before {
    content: $icon-DoveChannel;
  }
}
.icon-FandangoNow {
  &:before {
    content: $icon-FandangoNow;
  }
}
.icon-Fandor {
  &:before {
    content: $icon-Fandor;
  }
}
.icon-Hoopla {
  font-size: 2em !important;
  &:before {
    content: $icon-Hoopla;
  }
}
.icon-Hulu {
  &:before {
    content: $icon-Hulu;
  }
}
.icon-IndieReign {
  &:before {
    content: $icon-IndieReign;
  }
}
.icon-Itunes {
  &:before {
    content: $icon-Itunes;
  }
}
.icon-Netflix {
  &:before {
    content: $icon-Netflix;
  }
}
.icon-Overdrive {
  &:before {
    content: $icon-Overdrive;
  }
}
.icon-Popcornflix {
  &:before {
    content: $icon-Popcornflix;
  }
}
.icon-Roku {
  &:before {
    content: $icon-Roku;
  }
}
.icon-SnagFilms {
  &:before {
    content: $icon-SnagFilms;
  }
}
.icon-StreamPix {
  &:before {
    content: $icon-StreamPix;
  }
}
.icon-Tubitv {
  font-size: 2.2em !important;
  &:before {
    content: $icon-Tubitv;
  }
}
.icon-Viewster {
  &:before {
    content: $icon-Viewster;
  }
}
.icon-Vimeo {
  &:before {
    content: $icon-Vimeo;
  }
}
