// This contains Kinonation VOD Outlet Icons used on the kinonation.com landing page.

// Created using Icomoon
// icomoon.io

@import "variables";

@font-face {
  font-family: 'KinonationFont';
  src:  url('#{$icomoon-font-path}/KinonationFont.eot?6fkoul');
  src:  url('#{$icomoon-font-path}/KinonationFont.eot?6fkoul#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/KinonationFont.ttf?6fkoul') format('truetype'),
    url('#{$icomoon-font-path}/KinonationFont.woff?6fkoul') format('woff'),
    url('#{$icomoon-font-path}/KinonationFont.svg?6fkoul#KinonationFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'KinonationFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-GoneTV {
  &:before {
    content: $icon-GoneTV;
  }
}
.icon-FilmOn {
  &:before {
    content: $icon-FilmOn;
  }
}
.icon-PPTV {
  &:before {
    content: $icon-PPTV;
  }
}
.icon-VHX {
  &:before {
    content: $icon-VHX;
  }
}
.icon-YahooView {
  font-size: 2.0em !important;
  &:before {
    content: $icon-YahooView;
  }
}
.icon-FlixPremiere {
  font-size: 3.0em !important;
  &:before {
    content: $icon-FlixPremiere;
  }
}
.icon-Iflix {
  &:before {
    content: $icon-Iflix;
  }
}
.icon-ChinaMobile {
  font-size: 2.5em !important;
  &:before {
    content: $icon-ChinaMobile;
  }
}
.icon-Amazon {
  font-size: 1.7em !important;
  &:before {
    content: $icon-Amazon;
  }
}
.icon-BesTV {
  font-size: 1.7em !important;
  &:before {
    content: $icon-BesTV;
  }
}
.icon-Cineclick {
  font-size: 2.3em !important;
  &:before {
    content: $icon-Cineclick;
  }
}
.icon-Cinecliq {
  font-size: 2.3em !important;
  &:before {
    content: $icon-Cinecliq;
  }
}
.icon-ConTV {
  font-size: 2.5em !important;
  &:before {
    content: $icon-ConTV;
  }
}
.icon-Docurama {
  font-size: 1.8em !important;
  &:before {
    content: $icon-Docurama;
  }
}
.icon-DoveChannel {
  font-size: 2.1em !important;
  &:before {
    content: $icon-DoveChannel;
  }
}
.icon-FandangoNow {
  &:before {
    content: $icon-FandangoNow;
  }
}
.icon-Fandor {
  &:before {
    content: $icon-Fandor;
  }
}
.icon-Hoopla {
  font-size: 1.8em !important;
  &:before {
    content: $icon-Hoopla;
  }
}
.icon-Hulu {
  &:before {
    content: $icon-Hulu;
  }
}
.icon-IndieReign {
  &:before {
    content: $icon-IndieReign;
  }
}
.icon-Itunes {
  &:before {
    content: $icon-Itunes;
  }
}
.icon-Netflix {
  &:before {
    content: $icon-Netflix;
  }
}
.icon-Overdrive {
  font-size: 1.2em !important;
  &:before {
    content: $icon-Overdrive;
  }
}
.icon-Popcornflix {
  &:before {
    content: $icon-Popcornflix;
  }
}
.icon-ReelFeed {
  font-size: 1em !important;
  &:before {
    content: $icon-ReelFeed;
  }
}
.icon-Roku {
  &:before {
    content: $icon-Roku;
  }
}
.icon-SnagFilms {
  &:before {
    content: $icon-SnagFilms;
  }
}
.icon-StreamPix {
  &:before {
    content: $icon-StreamPix;
  }
}
.icon-Tubitv {
  font-size: 2.2em !important;
  &:before {
    content: $icon-Tubitv;
  }
}
.icon-Viewster {
  &:before {
    content: $icon-Viewster;
  }
}
.icon-Vimeo {
  &:before {
    content: $icon-Vimeo;
  }
}
.icon-Vodd {
  font-size: 1.2em !important;
  &:before {
    content: $icon-Vodd;
  }
}
