.page-home {
  .jumbotron {
    .lead: {
      font-size: 1.75rem;
    }
    &.min-vh-100 .navbar {
      height: 56px;
    }
  }

  .content section {
    @extend .py-5;
    &.channels {
      @extend .py-0;
    }
  }

  .nav-stacked {
    li.nav-article>a {
      font-size: 14px;
      padding: 2px 10px 2px 30px;
    }
    li.nav-header>a {
      font-size: inherit;
      padding-left: 10px;
    }
  }
  .meta {
    margin-bottom: 30px;
  }
  .meta small {
    color: #999;
  }
  .steps {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 50px;
    background: #1A237E;
    color: #fff;
  }
  .teampics {
    margin-top: 30px;
  }
  #fromeverywhere {
    margin-top: 40px;
  }

  .metrics h1 i {
    color: #7a51e9;
  }

  section {
    &.channels {
      // background: #9327f5;
      // background: -webkit-linear-gradient(top left, #9327f5 0%, #00d4c3 100%);
      // background: -o-linear-gradient(top left, #9327f5 0%, #00d4c3 100%);
      // background: linear-gradient(to bottom right, #9327f5 0%, #00d4c3 100%);
      // // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$teal', GradientType=1 );
      // color: #fff;
      @extend .py-0;
    }
  }

  /* Featurettes
  ------------------------- */

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  /* Channel logos
  ------------------------- */

  .logos-container {
    height: 440px;
    overflow: hidden;
    .logos-scrolling {
      // position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      transform: translate3d(0, -80%, 0);
      animation: vertical-scroll 30s linear infinite;
      -moz-transform: translate3d(0, -100%, 0);
      -webkit-transform-style: translate3d(0, -100%, 0);
      -moz-animation: vertical-scroll 12s linear infinite;
      -webkit-animation-trigger: vertical-scroll 12s linear infinite;
      .logo {
        margin: 0 20px 10px;
        svg {
          // filter: grayscale(100%);
          filter: brightness(0%);
          // filter: gray;
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  @keyframes vertical-scroll {
    100% {
      transform: translateY(0%);
      -moz-transform: translateY(0%);
      -webkit-transform: translateY(0%)
    }
  }

  // MailChimp form style overrides
  // @import url('//cdn-images.mailchimp.com/embedcode/classic-10_7.css');
  #mc-embedded-subscribe-form {
    margin-bottom: 20px;
  }
  #mc_embed_signup {
    input.mce_inline_error {
      border-color: $danger;
    }
    div.mce_inline_error {
      @extend .badge;
      @extend .badge-danger;
      margin-left: 1em;
    }
    background: transparent;
  }

  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @include media-breakpoint-up(md) {
    .featurette-heading {
      font-size: 50px;
      margin-top: 7rem;
    }
  }
}



