.page-home {
  .nav-stacked {
    li.nav-article>a {
      font-size: 14px;
      padding: 2px 10px 2px 30px;
    }
    li.nav-header>a {
      font-size: inherit;
      padding-left: 10px;
    }
  }
  .meta {
    margin-bottom: 30px;
  }
  .meta small {
    color: #999;
  }
  .steps {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 50px;
    background: #1A237E;
    color: #fff;
  }
  .teampics {
    margin-top: 30px;
  }
  #fromeverywhere {
    margin-top: 40px;
  }

  /* Topics
  ------------------------- */
  #featured {
    .posters {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar { // Safari, Chrome
        display: none;
      }
      scrollbar-width: none; // Firefox
      width: 100%;
      .poster {
        flex: 0 0 auto;
        width: 150px;
        img {
          width: 100%;
        }
        color: $gray-100;
        position: relative;
        .topic {
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
          box-sizing: border-box;
          height: 70px;
          padding: 9px;
          line-height: 1.2;
        }
        .topic-header {
          position: absolute;
          top: -9px;
          right: -4px;
          border-radius: 0;
          // padding: 2px 6px;
          // @extend .shadow;
        }
      }
    }
  }

  /* Custom header
  ------------------------- */
  .hero-header {
    font-size: 9rem;
    line-height: 0.95;
    font-weight: 800;
    letter-spacing: -0.04em;

    @include media-breakpoint-down(md) {
      font-size: 7rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 4rem;
    }
    .shine {
      background-image: linear-gradient(to right, $body-color 20%, $info 40%, $info 60%, $body-color 80%);
      background-clip: text;
      background-size: 500% auto;
      color: transparent;
      animation: shine 20s linear infinite;
      animation-delay: 2s;
      @keyframes shine {
        0%   { background-position: 0    center; }
        25%  { background-position: 100% center; }
        100% { background-position: 100% center; }
      }
      &.shine-group2 {
        background-image: linear-gradient(to right, $body-color 20%, $success 40%, $success 60%, $body-color 80%);
        animation-delay: 7s;
      }
      &.shine-group3 {
        background-image: linear-gradient(to right, $body-color 20%, $purple 40%, $purple 60%, $body-color 80%);
        animation-delay: 12s;
      }
    }
  }


  /* Channel logos
  ------------------------- */

  .logos-container {
    height: 440px;
    overflow: hidden;
    .logos-scrolling {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      transform: translate3d(0, -80%, 0);
      animation: vertical-scroll 30s linear infinite;
      animation-direction: reverse;
      .logo {
        height: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          height: 80px;
          max-width: 100%;
        }
      }
    }
  }

  @keyframes vertical-scroll {
    100% {
      transform: translateY(0%);
    }
  }


  /* How it works
  ------------------------- */

  #howitworks {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8f9fa+0,e9ecef+100 */
    background: $light; /* Old browsers */
    background: linear-gradient(to bottom,  $gray-100 0%, $gray-200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9fa', endColorstr='#e9ecef',GradientType=0 ); /* IE6-9 */

    svg.donut {
      .donut-segment {
        stroke: #00816f; //#a5af29;
      }

      .donut-ring {
        stroke: $info;
      }

      .chart-text {
        fill: #00816f; //#a5af29; //#ce4b99; // #$gray-800;
        font-weight: bold;
        transform: translateY(0.25em);
      }

      .chart-percent {
        font-size: 0.5em;
      }

      .chart-number {
        font-size: 0.6em;
        line-height: 1;
        text-anchor: middle;
        transform: translateY(-0.25em);
      }

      .chart-note {
        font-size: 0.2em;
        text-transform: uppercase;
        text-anchor: middle;
        transform: translateY(0.7em);
      }
      .chart-label {
        fill: $gray-200; // #ce4b99;
        font-size: 0.09em;
        text-transform: uppercase;
        text-anchor: middle;
        transform: translateY(0.7em);
        &.you {
          font-size: 0.12em;
        }
      }
    }
  }

  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(xl) {
  }
}
