.page-home {
  .nav-stacked {
    li.nav-article>a {
      font-size: 14px;
      padding: 2px 10px 2px 30px;
    }
    li.nav-header>a {
      font-size: inherit;
      padding-left: 10px;
    }
  }
  .meta {
    margin-bottom: 30px;
  }
  .meta small {
    color: #999;
  }
  .steps {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 50px;
    background: #1A237E;
    color: #fff;
  }
  .teampics {
    margin-top: 30px;
  }
  #fromeverywhere {
    margin-top: 40px;
  }

  .metrics h1 i {
    // color: #7a51e9;
    // color: $color-primary;
  }

  section {
    &.channels {
      // background: #9327f5;
      // background: linear-gradient(to bottom right, #9327f5 0%, #00d4c3 100%);
      // // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$teal', GradientType=1 );
      // color: #fff;
      @extend .py-0;
    }
  }

  /* Topics
  ------------------------- */
  #featured {
    .posters {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
      .poster {
        flex: 0 0 auto;
        width: 150px;
        img {
          width: 100%;
        }
        color: $gray-100;
        position: relative;
        .topic {
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
          box-sizing: border-box;
          height: 70px;
          padding: 9px;
          line-height: 1.2;
        }
        .topic-header {
          position: absolute;
          top: -9px;
          right: -4px;
          padding: 2px 6px;
          color: $white;
          background-color: $info;
          opacity: 0.8;
          @extend .shadow;
        }
      }
    }
  }

  /* Featurettes
  ------------------------- */

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  /* Channel logos
  ------------------------- */

  .logos-container {
    height: 440px;
    overflow: hidden;
    .logos-scrolling {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      transform: translate3d(0, -80%, 0);
      animation: vertical-scroll 30s linear infinite;
      animation-direction: reverse;
      .logo {
        padding-top: 10px;
        padding-bottom: 10px;
        svg {
          height: 80px;
          max-width: 100%;
        }
      }
    }
  }

  @keyframes vertical-scroll {
    100% {
      transform: translateY(0%);
    }
  }

  // MailChimp form style overrides
  // @import url('//cdn-images.mailchimp.com/embedcode/classic-10_7.css');
  #mc-embedded-subscribe-form {
    margin-bottom: 20px;
  }
  #mc_embed_signup {
    input.mce_inline_error {
      border-color: $danger;
    }
    div.mce_inline_error {
      @extend .badge;
      @extend .badge-danger;
      margin-left: 1em;
    }
    background: transparent;
  }

  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @include media-breakpoint-up(md) {
    #featured {
      .posters .poster {
        width: 180px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    #featured {
      .posters .poster {
        // width: 200px;
      }
    }
  }
}



