.page-home {
  .jumbotron {
    color: $silver;
    background-color: $bg-navy;
    margin-bottom: 0;
    @media (min-width: $screen-sm-min) {
      h1, .h1 {
        font-size: 46px;
        text-transform: uppercase;
        letter-spacing: .1em;
      }
    }
    p.lead {
      text-transform: uppercase;
      margin-top: 20px;
      letter-spacing: 0.08em;
    }
    b {
      color: $brand-warning;
    }
    img {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    a.linkhint {
      color: $silver;
      border-bottom: $silver 2px dotted;
      padding-bottom: 2px;
      &:hover {
        border-bottom: $silver 2px solid;
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  section {
    padding-top: 40px;
    padding-bottom: 40px;
    h1 {
      text-transform: uppercase;
      letter-spacing: .1em;
      &.subheader {
        margin-bottom: 0;
      }
      &.metrics {
        letter-spacing: 0;
      }
    }
    h2.subheader {
      margin-bottom: 30px;
    }
  }
  .content {
    section:nth-of-type(3n+1) {
      background-color: $bg-silver;
      color: $black;
      a {
        color: $filmhub-blue;
      }
    }
    section:nth-of-type(3n) {
      background-color: $bg-navy; /* #e67d25 #4C5679; #36426B */
      color: $silver;
      a {
        color: $silver;
        text-decoration: underline;
      }
      h1.small {
        color: $maroon;
      }
      .btn-warning {
        color: $black;
        background-color: $brand-warning;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: $brand-warning;
          background-color: inherit;
        }
        &.navbar-btn {
          color: $brand-warning;
          background-color: inherit;
          &:hover {
            color: $black;
            background-color: $brand-warning;
          }
        }
      }
    }
    section:last-of-type {
    }
  }

  section.features h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  section.features {
    position: relative;
    overflow: hidden;
  }
  small.super {
    vertical-align: super;
  }

  #vodlogos {
    display: inline-block;
  }

  #vodlogos span {
    transition: 1s;
    color: rgb(82, 82, 84);
    font: 0/0 a;
    font-size: 1.4em;
    line-height: 200%;
    margin: 15px;
    vertical-align: middle;
  }

  section.different div.different {
    margin-bottom: 60px;
  }

  @media(max-width:767px) {
    #vodlogos span {
      transition: 1s;
      line-height: 170%;
    }
  }

  h2 img {
    margin-right: 10px;
  }
  div#terms-intro {
    background-color: #eee;
  }
  .details > * {
    margin-top: 0;
  }
  .pricing img {
    margin: 40px auto;
  }
  .nav-stacked li.nav-article>a {
    font-size: 14px;
    padding: 2px 10px 2px 30px;
  }
  .nav-stacked li.nav-header>a {
    font-size: inherit;
    padding-left: 10px;
  }
  .meta {
    margin-bottom: 30px;
  }
  .meta small {
    color: #999;
  }
  .steps {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 50px;
    background: #1A237E;
    color: #fff;
  }
  .howitworks img, .enterprise img {
    margin-bottom: 20px;
  }
  a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
  }

  #globe {
    position: absolute;
    top: -10px;
  }
}
