// colors
$filmhub-blue: #1a237e;
$primary: $filmhub-blue;
$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #eee;
$black: #111;

$embed-responsive-aspect-ratios: (
  (3 1),
  (21 9),
  (16 9),
  (4 3),
  (1 1)
) !default;
