$icomoon-font-path: "../fonts/KinonationFont" !default;

$icon-YahooView: "\e917";
$icon-FlixPremiere: "\e918";
$icon-Iflix: "\e919";
$icon-ChinaMobile: "\e91a";
$icon-Amazon: "\e901";
$icon-BesTV: "\e916";
$icon-AmazonPrime: "\e900";
$icon-Cineclick: "\e902";
$icon-Cinecliq: "\e903";
$icon-ConTV: "\e904";
$icon-Docurama: "\e905";
$icon-DoveChannel: "\e906";
$icon-FandangoNow: "\e907";
$icon-Fandor: "\e908";
$icon-Hoopla: "\e909";
$icon-Hulu: "\e90a";
$icon-IndieReign: "\e90b";
$icon-Itunes: "\e90c";
$icon-Netflix: "\e90d";
$icon-Overdrive: "\e90e";
$icon-Popcornflix: "\e90f";
$icon-ReelFeed: "\e910";
$icon-Roku: "\e911";
$icon-SnagFilms: "\e912";
$icon-StreamPix: "\e913";
$icon-Tubitv: "\e914";
$icon-Viewster: "\e915";
$icon-Vimeo: "\e91b";
$icon-Vodd: "\e91c";