$icomoon-font-path: "../fonts/KinonationFont" !default;

$icon-SciFiNow: "\e932";
$icon-ChristianCinema: "\e931";
$icon-Guidedoc: "\e92e";
$icon-Qello: "\e92f";
$icon-Telus: "\e930";
$icon-Filmhub: "\e92d";
$icon-UDUDigital: "\e92c";
$icon-AllWariorNetwork: "\e902";
$icon-BlackBeltTV: "\e910";
$icon-Dekkoo: "\e91c";
$icon-DocComTV: "\e920";
$icon-GoodyBuzz: "\e921";
$icon-GooglePlay: "\e922";
$icon-Kanopy: "\e923";
$icon-Kinoflimmern: "\e924";
$icon-LuminTV: "\e925";
$icon-Motorland: "\e926";
$icon-MySpotlightTV: "\e927";
$icon-PantaFlix: "\e928";
$icon-Realeyz: "\e929";
$icon-SBG: "\e92a";
$icon-TBD: "\e92b";
$icon-GoneTV: "\e91f";
$icon-FilmOn: "\e91e";
$icon-PPTV: "\e901";
$icon-VHX: "\e91d";
$icon-Amazon: "\e900";
$icon-YahooView: "\e917";
$icon-FlixPremiere: "\e918";
$icon-Iflix: "\e919";
$icon-ChinaMobile: "\e91a";
$icon-BesTV: "\e916";
$icon-Cinecliq: "\e903";
$icon-ConTV: "\e904";
$icon-Docurama: "\e905";
$icon-DoveChannel: "\e906";
$icon-FandangoNow: "\e907";
$icon-Fandor: "\e908";
$icon-Hoopla: "\e909";
$icon-Hulu: "\e90a";
$icon-IndieReign: "\e90b";
$icon-Itunes: "\e90c";
$icon-Netflix: "\e90d";
$icon-Overdrive: "\e90e";
$icon-Popcornflix: "\e90f";
$icon-Roku: "\e911";
$icon-SnagFilms: "\e912";
$icon-StreamPix: "\e913";
$icon-Tubitv: "\e914";
$icon-Viewster: "\e915";
$icon-Vimeo: "\e91b";
