---
layout: bootstrap
id: blog
container: true
---
<div class="text-center pb-4">
  <ul class="list-inline">
    {% for cat in site.categories %}
    <li class="list-inline-item category-name">
      {{ cat[0] }}
    </li>
    {% endfor %}
  </ul>
</div>
<div class="row row-cols-1">
  <div class="col mb-4">
    <div class="card">
      {% assign post = site.categories["blog"][0] %}
      <div class="embed-responsive embed-responsive-3by1">
        <img loading="lazy" src="/images/{{ post.image }}" class="card-img-top embed-responsive-item" alt="{{ post.title }}">
      </div>
      <div class="card-body">
        <h3 class="card-title font-weight-bold">
          <a href="{{ post.url }}" class="stretched-link">{{ post.title }}</a>
        </h3>
        <p class="card-text">{{ post.excerpt | strip_html }}</p>

      </div>
      <p class="card-footer d-flex justify-content-between">
        <small class="text-muted">{{ post.author }}&nbsp; • &nbsp;{{ post.date | date_to_string: "ordinal", "US" }}</small>
        <span class="badge badge-light text-capitalize">{{ post.categories.last }}</span>
      </p>
    </div>
  </div>
</div>
<div class="posts row row-cols-1 row-cols-md-2">
  {% for post in site.categories["blog"] offset: 1 %}
  <div class="col mb-4">
    <div class="card h-100">
      <div class="embed-responsive embed-responsive-16by9">
        <img loading="lazy" src="/images/{{ post.image }}" class="card-img-top embed-responsive-item" alt="{{ post.title }}">
      </div>
      <div class="card-body">
        <h3 class="card-title font-weight-bold">
          <a href="{{ post.url }}" class="stretched-link">{{ post.title }}</a>
        </h3>
        <p class="card-text truncate">{{ post.excerpt | strip_html }}</p>

      </div>
      <p class="card-footer d-flex justify-content-between">
        <small class="text-muted">{{ post.author }}&nbsp; • &nbsp;{{ post.date | date_to_string: "ordinal", "US" }}</small>
        <span class="badge badge-light text-capitalize">{{ post.categories.last }}</span>
      </p>
    </div>
  </div>
{% endfor %}
</div>
