---
layout: bootstrap
title: Indie film digital distribution platform
eyebrow: true
custom_js:
- metrics
- mixitup.min
- channel_logos
---
<a class="anchor" id="logos"></a>
<section>
  <div id="channel-logos" class="container text-center">

    <div class="btn-toolbar btn-group-toggle" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group btn-group-sm mr-2" role="group" aria-label="All">
        <button type="button" class="btn btn-outline-primary active" data-toggle="button" data-filter="all" aria-pressed="true" autocomplete="off">All</button>
      </div>
      <div class="btn-group btn-group-sm mr-2" role="group">
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".hq-north-america">North America</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".hq-europe">Europe</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".hq-asia">Asia</button>
      </div>
<!--       <div class="btn-group btn-group-sm mr-2" role="group">
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".format-tvod">TVOD</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".format-avod">AVOD</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".format-svod">SVOD</button>
      </div> -->
      <div class="btn-group btn-group-sm mr-2" role="group">
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".profile-arthouse">Arthouse</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".profile-culture">Culture</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".profile-docs">Docs</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".profile-educational">Educational</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".profile-horror">Horror</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".profile-lgbt">LGBT</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".profile-shorts">Shorts</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".profile-wholesome">Wholesome</button>
      </div>
<!--       <div class="btn-group btn-group-sm mr-2" role="group">
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".device">Devices</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" data-filter=".integration">Integrations</button>
      </div> -->
    </div>


      <div class="card-columns">

        {% for channel in site.data.channels %}

        {% assign formats = channel.formats | split: "," %}
        {% assign profiles = channel.profiles | split: ',' %}
        {% assign name = channel.name | slugify %}

        <div class="ncol-lg-2 ncol-md-3 ncol-sm-4 ncol-6 npb-2 mix hq-{{ channel.hq | slugify }}
             {% for format in formats %} format-{{ format | slugify }}{% endfor %}
             {% for profile in profiles %} profile-{{ profile | slugify }}{% endfor %}">

            {% if channel.logo == "ok" %}
          <div class="card  {{ name }}" id="{{ name }}">


              <div class="card-body px-2" data-toggle="tooltip" title="{{ channel.name }}">
                {% include svg/{{name}}.svg %}
  <!--                   <img data-src="images/svg/{{name}}.svg" class="lazy"> -->
              </div>


          </div>
            {% endif %}


        </div>

        {% endfor %}
      </div>
    </div>
</section>
