---
layout: bootstrap
title: Kinonation | Help
---
<div class="container content">
  <div class="row">
    <div class="col-md-9"> <!-- left column -->
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/help">Help</a></li>
        <li class="active">FAQ</li>
      </ol>
      <h1 class="page-header">FAQ</h1>
      <p class="lead">Answers to the most common questions at Kinonation. Can't find what you're looking for? <a href="/help/ticket.html">Submit a support ticket</a>.</p>
      
        {{ content }}

    </div> <!-- left column -->

    <div class="col-md-3">
    {% include _help-sidenav.html %}
    </div>

  </div>  <!-- row -->
</div>   <!-- container -->

