---
layout: bootstrap
---
<div class="container content">
  <div class="row">
    <div class="col-md-9">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/support/faq">FAQ</a></li>
        <li class="active">{{ page.title }}?</li>
      </ol>
      <h2>{{ page.title }}? 
        {% if page.tags.size > 0 %}
        <small><i class="fa fa-tags"></i>&nbsp;
        {% for tag in page.tags %}
          <a href="/tags.html#{{ tag | cgi_escape }}" class="tag label label-default">{{ tag }}</a>&nbsp;
        {% endfor %}
        </small>
      {% endif %}
      </h2>
      </p>
      <hr />

      <article>
           
        {{ content }}
                
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'kinonation';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        
      </article>
    </div>
    
    <div class="col-md-3">
      {% include _support-sidenav.html %}
    </div>
  </div>
</div>