---
layout: bootstrap
---
<div class="container content">
  <div class="row">
    <div class="col-md-8">
      <article>
        <h1 class="page-header">{{ page.title }}
        {% if page.subtitle != '' %}
          <br/><small>{{ page.subtitle }}</small>
        {% endif %}
        </h1>
        <p class="meta"><small>Posted by {{ page.author }} on {{ page.date | date_to_string }}</small>&nbsp;
        <i class="fa fa-tags"></i>&nbsp;
        {% for tag in page.tags %}
          <a href="/tags#{{ tag | cgi_escape }}" class="tag label label-default">{{ tag }}</a>&nbsp;
        {% endfor %}
        </p>
           
        {{ content }}
                
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'kinonation';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        
      </article>
    </div>
    
    <div class="col-md-4">
    
      <div>
        <a href="/blog">Back to blog &rarr;</a>
      </div>

      {% include _searchbox.html %}
      {% include _blog-sidenav.html %}
    </div>
  </div>
</div>